.description {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 80%;
}

.description > ul li {
    display: inline-block;
    list-style: none;
    padding: 0 2vw 0 0;
}

.display {
    width: 1.5vw;
    height: 1.5vw;
    display: inline-block;
    position: relative;
    top: 0.25em;
    margin: 0 0.42em;
}

