.description {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 80%;
    font-size: 1rem;
}

.description > ul li {
    display: inline-block;
    list-style: none;
    padding: 0 2vw 0 0;
}

.display {
    width: 1em;
    height: 1em;
    display: inline-block;
    position: relative;
    margin: 0 0.42em;
}

