nav {
    background-color: #202777;
}

.menu-btn {
   color: white;
   width: 100px;
   border: none;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
}

.menu-btn.clear-grid {
   width: 120px

}

.pathfind.dropdown {
   width: 120px;
}

.pathfind.visualise {
   width: 250px;
}

.mazegen.dropdown {
   width: 160px;
}

.mazegen.visualise {
   width: 230px;
}
