:root {
  --row: 0;
  --col: 0;
  --node-width: 2vw;
  --node-height: 2vw;
  font-size: calc(15px + 0.390625vw);
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

